*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}
@media (max-width: 622px) {
    .hidden-below-622 {
      display: none;
    }
  }
  
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeinright {
    animation: fadeInRight 0.5s ease forwards;
  }

  @keyframes popupanimation {
    0%{
        transform: translateY(-100%)
        scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.popupdiv{
  animation: popupanimation 0.5s ease forwards ;
}